@center: 0 auto;
@cardHeaderMargin: 1% 0 1.5% 0;
@cardInfoMargin: 3% 3% 3% 3%;
@shadow: black 3px 3px 3px;
@textFontSize: 20px;
@textFontWeight: 400;
@backgroundColor: #364B71;

.up {
	&:hover {
		position: relative;
//		transform: translate3d();
//		transform: translateZ(20px);

	}
}

.shaded(@opacity: 0.2) {
	// Тень
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, @opacity);
  transition: 0.3s;

	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, @opacity);
	}
}

.shadedWithoutHover(@direction: 0 4px 8px 0, @opacity: 0.2) {
	// Тень без наведения
	box-shadow: @direction rgba(0, 0, 0, @opacity);
  transition: 0.3s;
}


&:link {
	@linkColor: #8B8AF5;

	color: @linkColor;
	text-decoration: none;

	&:hover {
		color: darken(@linkColor, 25%);
	}
}

&:visited {
	@visitedColor: #B149C2;

	color: @visitedColor;
//	text-decoration-line: underline;
	&:hover {
		color: darken(@visitedColor, 25%);
	}
}

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
	flex: 1;
	background: #E9EAEE;
}

.header {
	display: flex;
	justify-content: center;
	background: url("/assets/images/cloud2.png");
	background-size: cover;
}

.person {
	display: flex;

	&__photo {
		height: 100px;
		border-radius: 50%;
		box-sizing: content-box;
		box-shadow: @shadow;

//		border: rgba(0, 0, 0, 0.3) 10px;
		border-style: inset;
		filter: contrast(1.05);
		margin: 7% 5%;
//		background: rgba(0, 0, 0, 1);
	}

	&__name {
//		align-content: center;
		color: white;
		font-size: 40px;
		font-weight: bold;
		filter:contrast(.9);
		font-family: 'Oswald', sans-serif;

		text-shadow: @shadow;
//		background: rgba(0, 0, 0, 0.3);

		margin: auto;
		margin-left: 15%;
		padding: 2% 0;
//		background: white;
//		.shadedWithoutHover;
	}

	&__info {
		padding: @cardInfoMargin;
		text-align: left;
		width: 315px;
		background: white;
		.shaded;
	}
}

.content {
	margin: 1.7% 0 0 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
//	align-items: flex-start;
}

.item_header {
	font: @textFontSize + 2px;
	font-weight: @textFontWeight + 200;
}

li {
	padding-bottom: 2%;
}

.card {
	background: white;

	&__image {
		width: 300px;
//		.shadedWithoutHover;
	}

	&__header {
		background: radial-gradient(
			lighten(@backgroundColor, 15%),
			lighten(@backgroundColor, 1%)
		);
		padding: 5% 0;
		font-size: @textFontSize;
		font-weight: @textFontWeight;
		font-family: 'Didact Gothic', sans-serif;
		color: darken(white, .1);
		text-align: center;
		.shadedWithoutHover;
	}

	&__info {
		margin: @cardInfoMargin;
		font-family: 'Alegreya Sans', sans-serif;
//		visibility: hidden;
	}

	margin: 0 5% 1.7% 5%;
	display: flex;
	flex-direction: column;
	width: 300px;
	.up;
	.shaded;
}

.footer {
	display: flex;
	justify-content: flex-end;
}

.contacts {
	.card;
//	margin: @cardInfoMargin;
	margin: 0 2%;
	justify-content: flex-end;
}

