h1 {
	font-size: 22px;
	font-weight: bold;
	margin: 1.5%;
}

h2 {
	font-size: 20px;
	font-weight: 400;
	margin: 2% 0 0 3%;
}

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
	flex: 1;
	margin: .5% 0 .5% 4.5%;
}

p {
}

footer {
	font-family: 'Indie Flower', cursive;
/*	position: absolute;*/
/*	bottom: 5%;*/
/*	left: 2.5%;*/
}
