@size: 150px;
@color: red;
@center: 0 0 0 40%;

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
	flex: 1;

	h1 {
		font-size: 22px;
		font-weight: bold;
		margin: 1.5%;
	}

	h2 {
		font-size: 20px;
		font-weight: 400;
		margin: 2% 0 0 3%;
	}
}

.photo {
	margin: @center;
	height: @size;
	width: @size;
}

.content {
	.person-info {
		margin: @center;
	}

	.tile {
		margin: .5% 0 .5% 4.5%;
	}
}


